
.home-body {
    background-color: #EEEEEE;
}

.logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 30%;
}

@media screen and (max-width: 900px) {
    img.logo-image {
        height: 22%;
        width: 22%;
    }
    h4.tagline {
        font-size: 1.8vw;
    }
}
 @media screen and (max-width: 500px) {
    h4.tagline {
        display: none;
    }
 }


.tagline {
    text-align: center;
    font-family: 'Gotu', sans-serif !important;
    display: block;
    padding-bottom: 1.6vw;
    font-size: 1.8vw;
}

.logo-section {
    background-color: #fff;
}

.socials-header {
    text-align: center;
    padding-bottom: 1.6vw;
}

.fa-twitter, .fa-instagram, .fa-envelope {
    color: black;
}

.fa-twitter:hover, .fa-instagram:hover, .fa-envelope:hover {
    color: #6A7EFC;
}

.social-icon {
    margin: 2% 1%;
  }

  @media screen and (max-width: 500px) {
    .fa-lg {
    font-size: 1.8vw;
    }
    
  }

.navbar {
    font-family:'IM Fell English SC', serif;
    font-size: 1.4rem;
}

.nav-item {
    padding: 5px 6px;
}

.navWord {
    color: #03001C;
}

.navWord:hover {
    color: #6A7EFC;
}

h2 {
    font-family: 'Alice', serif;
}

.cover-image{
    max-width: 80%;
    height: auto;
    padding: 8% 5% 5% 5%;
}

.feature-header {
    font-family: 'IM Fell English SC', serif;
    font-size: 3rem;
    margin: 5% 0;
}

.feature-text {
    font-family: 'Gotu', sans-serif;
    margin: 5% 0 8% 0;
}

.authors-container {
    margin: 8% 0 5% 0;
    font-family: 'La Belle Aurore', cursive;
    font-size: 1.2rem;
}


.btn-design {
    background-color: #03001C;
    border: none;
    padding: 4% 7% 3% 7%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 35px;
    font-family: 'Gotu', sans-serif;
    box-shadow: 0 7px 10px 0 rgba(0,0,0,0.2), 0 4px 16px 0 rgba(0,0,0,0.19);
}

.btn-text {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.btn-design:hover {
    background-color: #6A7EFC;
}

@media screen and (max-width: 1050px) {
    .btn-text {
       font-size: 1rem;
       padding: 3% 6% 2% 6%;
   }

   }

@media screen and (max-width: 500px) {
     .btn-text {
        font-size: 1rem;
        padding: 2% 5% 1% 5%;
    }

    }
    



.feature-container {
    background-color: #fff;
    padding-top: 2rem;
}


.feature-title {
    font-family: 'IM Fell English SC', serif;
    padding: 30px 10px 10px 10px;
}

.feature-title {
    text-decoration: none;
    color: black;
}

.feature-title:hover {
    text-decoration: none;
    color: #6A7EFC;
}



.feature-summary {
    font-family: 'Gotu', sans-serif;
}

.spotlight1 {
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 20px; 
    text-align: center;
}

.spotlight2 {
    padding-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.spotlight3 {
    padding: 50px 0 30px 0;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

#footer {
    padding: 100px 0 50px 0;
    text-align: center;
    background-color: #EEEEEE;
}




/* 
about page  */


.about-section {
    text-align: center;
    background-color: #EEEEEE;
    padding: 5% 20% 5% 20%;
    text-align: center;
    font-family: 'Gotu', serif;
}

@media screen and (max-width: 600px) {
    div.about-section {
        padding: 1% 6% 1% 6%;
    }
}

.about-title {
    font-family: 'IM Fell English SC', serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.poetry-editors {
    background-color: #F7F7F7;
}


.emphasis {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.editor-name {
    font-family: 'La Belle Aurore', cursive;
    text-align: center;
    padding-bottom: 20px;
}

.editor-pic {
    border-radius: 50%;
    margin: 20px 20px;
    width: 50%;
}

.editor-bio {
    text-align: center;
    font-family: 'Gotu', sans-serif;
    margin: 30px 30px;
    padding: 0 50px 0 50px;
}

.editor-title {
    font-family: 'IM Fell English SC', serif;
    text-align: center;
    padding-top: 50px;
}


.editor-link {
    text-decoration: none;
    color: #6A7EFC;
    font-weight: 500;
    
}

.editor-link:hover {
    text-decoration: none;
    color: #E5E0FF;
    font-weight: 200;

}

.editor-link:visited {
    text-decoration: none;

}



.about-item2 { 
    grid-area: 2 / 1 / 3 / 3;
}

.about-item3 { 
    grid-area: 3 / 1 / 4 / 2;
    text-align: center;
}




/* submit page  */

.submit-parent {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    @media screen and (max-width: 900px) {
        div.submit-parent {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    
    .submit-item1 { 
        grid-area: 1 / 1 / 2 / 3; 
        text-align: center;
        font-family: 'Gotu', sans-serif;
        margin: 0 0 30px 0;
        padding: 20px 20% 20px 20%;
        background-color: #EEEEEE;
    }

    .submit-heading {
        font-family:  'IM Fell English SC', serif;
        margin-bottom: 20px;
    }

    .sub-heading {
        font-family: 'La Belle Aurore', cursive;
        font-size: 1.6rem;
    }

    .submission-genre {
        text-align: center;
        font-family: 'Gotu', sans-serif;
        background-color: #F7F7F7;
        padding: 5% 5%;
        margin: 0 5% 5% 5%;
    }

    .submit-item2 { 
        grid-area: 2 / 1 / 6 / 2; 
        font-family: 'Gotu', sans-serif;
        padding: 5% 6%;
        margin: 0 5% 5% 5%;
        border: solid 1.5px #EEEEEE;
    }

    .submit-item3 { 
        grid-area: 2 / 2 / 3 / 3; 
    }

    .submit-item4 { 
        grid-area: 3 / 2 / 4 / 3; 
    }

    .submit-item5 { 
        grid-area: 4 / 2 / 5 / 3; 
    }

    .submit-item6 { 
        grid-area: 5 / 2 / 6 / 3; 
    }





    /* Issues page */


    .issues-header {
        text-align: center;
        font-family: 'IM Fell English SC', serif;
        padding: 20px 0 10px 0;
        margin: 0;
    }

    .header-box {
        background-color: #EEEEEE;
    }

    .issue-number {
        font-family: 'IM Fell English SC', serif;
        font-size: 4.5vw;
        margin-top: 3%;
    }

    .issues-cover {
        width: 70%;
    }


    .issue-link {
        font-family: 'Gotu', sans-serif;
        display: block;
        padding-top: 20px;
        font-size: 2vw;
        margin-bottom: 10%;
        text-decoration: none;
        color:#03001C;
    }

    .issue-link:hover {
        color: #6A7EFC;
    }

    .grey-issue {
        background-color: #F7F7F7;
    }

    .issue-box {
        padding: 5% 15%;
    }

    @media screen and (max-width: 600px) {
        div.issue-box {
            padding: 5% 0;
        }
        
    }
  
    /* Salaam Dear Leila page */

    .aa-about {
        padding: 7% 20%;
        background-color: #F7F7F7;
    }

    @media screen and (max-width: 900px) {
        div.aa-about {
            padding: 5% 10%;
        }
    }

    .leila-covers {
        text-align: center;
        background-color: #EEEEEE;
        padding: 7% 0;
    }

    .leila-books {
        width: 10%;
        margin: 0.4%;
    }

    .leila-name {
        font-family: 'La Belle Aurore', cursive;
    }

    .aa-heading {
        text-align: center;
        font-family: 'IM Fell English SC', serif;
    }

    .aa-tag {
        font-family: 'La Belle Aurore', cursive;
        text-align: center;
        padding: 5px 0 20px 0;
    }

    .aa-para {
        font-family: 'Gotu', sans-serif;
        text-align: center;
    }

    /* form */

    #aa-form {
        display:block;
        padding: 30px;
    }
    
    .form-body {
        margin: 10% auto 10% auto;
        font-family: 'Gotu', sans-serif;
        font-size: 1rem;
        font-weight: 580;
        line-height: 1.5;
        text-align: left;
        background-color: #F7F7F7;
        padding: 30px 30px 10px 30px;
        border: 1px solid #EEEEEE;
        border-radius: 0.2rem;
        max-width: 50%;
    }

    @media screen and (max-width: 900px) {
        div.form-body {
            max-width: 90%;
            padding: 2%;
        }
        
    }

    .form-header {
        font-family: 'IM Fell English SC', serif;
        padding-bottom: 10px;
    }
    
    .aa-form-group {
        margin-bottom: 1rem;
    }
    
    .form-input {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
    }
    
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #EEEEEE;
        outline: none;
        border-radius: 0.2rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    select.form-control[size], select.form-control[multiple] {
        height: auto;
    }
    
    textarea.form-control {
        font-family: 'Gotu', sans-serif;
        height: auto;
    }
    
    label.aa-label {
        display: inline-block;
        margin-bottom: 0.2rem;
    }

    
    .fcf-btn {
        font-weight: 400;
        border: none;
        padding: 2% 7% 1% 7%;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.35rem;
        background-color: #03001C;
        font-family: 'Gotu', sans-serif;
        color: #ffffff;
        font-size: 1.2rem;
        text-decoration: none;
        width: 40%;
        margin: auto;
        box-shadow: 0 7px 10px 0 rgba(0,0,0,0.2), 0 4px 16px 0 rgba(0,0,0,0.19);
    }




    
    /* @media (prefers-reduced-motion: reduce) {
        .fcf-btn {
            transition: none;
        }
    }
     */
    .fcf-btn:hover {
        background: #6A7EFC;
        text-decoration: none;
    }
    
    input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
        width: 100%;
    }




    /* issues and pieces  */

    h1 {
        font-family: 'IM Fell English SC', serif;
        text-align: center;
        margin: 20px;
    }

    h3 {
        font-family: 'La Belle Aurore', cursive;
        text-align: center;
    }
    
    .note {
        font-family: 'La Belle Aurore', cursive;
        text-align: center;
    }

    h5 {
        font-family: 'Gotu', sans serif;
        text-align: center;
     }

    .issue-hr {
        border: 0;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
        margin-top: 50px;
     }

    .issue-heading {
        padding-top: 50px;
     }

    .genre-heading {
       padding-bottom: 30px;
    }

    .editors-letter {
        padding: 50px 250px 30px 250px;
        font-family: 'Gotu', sans-serif;
    }

    .salaam {
        margin: 30px 80px;
        padding: 50px 300px 50px 300px;
        font-family: 'Gotu', sans-serif;
        background-color: #EEEEEE;
        text-align: center;
    }

    .salaam-question {
        text-align: left;
    }

    .salaam-header {
        text-decoration: underline;
    }

    .btn-salaam {
        background: #eeeeee;
        -webkit-border-radius: 10;
        -moz-border-radius: 10;
        border-radius: 20px;
        border: solid #000000 1.5px;
        font-family: 'Gotu', sans serif;
        color: #000000;
        font-size: 0.9rem;
        padding: 10px 20px;
        text-decoration: none;
        margin: 40px 0 40px 0;
      }
      
      .btn-salaam:hover {
        background: #000000;
        color: #ffffff;
        text-decoration: none;
      }

    .section-header {
        font-family: 'IM Fell English SC', serif;
        padding: 20px;
    }

    .pieces-parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
    
    .left { 
        grid-area: 1 / 1 / 3 / 2; 
        text-align: right;
        font-family: 'Gotu', sans-serif;
        font-size: 1.3rem;
        padding: 20px 30px 0 0;
    }


    .right { 
        grid-area: 1 / 2 / 3 / 3; 
        text-align: left;
        font-family: 'Gotu', sans-serif;
        font-size: 1.3rem;
        padding: 20px 0 0 30px;
    }

    .genre-section {
        margin: 0 100px;
        padding: 100px;
    }